/* Breakpoints based on defined $breakpoint-map */
@mixin breakpoint($breakpoint) {
    @if map-has-key($breakpoint-map, $breakpoint) {
        @media #{map-get($breakpoint-map, $breakpoint)} {
            @content;
        }
    }
    @else {
        @warn "Unfortunately, you have not set `#{$breakpoint}` as a valid breakpoint. "
            + "Make sure `#{$breakpoint}` is defined in `$breakpoints-map` in the `_settings.scss` file.";
    }
}

@mixin makeGrid() {
    //$keys: map-keys($breakpoint-map);
    @each $key, $value in $breakpoint-map {
        @include breakpoint($key) {
            @for $i from 1 through $columns {
                .col-#{$key}-#{$i}  {
                    width: $i / $columns * 100%;
                }
            }
        }
    }

    [class*='col-'] {
        float: left;
        min-height: 1px;
        padding-left: $gutter / 2 + px;
        padding-right: $gutter / 2 + px;
        position: relative;
    }

    .row:before, 
    .row:after {
        clear: both;
        content: "";
        display: table;
    }
}

@include makeGrid();