head
    title #{pageTitle}
    meta(charset = 'UTF-8')
    meta(http-equiv = 'X-UA-Compatible', content = 'IE=edge')
    meta(name = 'description', content = metaDesc)
    meta(name = 'revisit-after', content = '3 days')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')
    link(href = 'img/favicon.ico', rel = 'shortcut icon', type = 'image/vnd.microsoft.icon')
    link(href = 'css/style.css', rel = 'stylesheet')
    script(src = 'bower_components/modernizr/modernizr.js')