        <header class="header" id="header">
            <div>
                <a href="/">
                    <img src="img/logo.gif" alt="Logo">
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </nav>
        </header>