block mainVars

doctype html
html
    include default-partials/html-head
    body
        a#GoTop
        include default-partials/header
        block content
        include default-partials/footer
        include default-partials/scripts