{% extends "layout.njk" %}

{% block content %}

    {% include "partials/header.njk" %}
        <main id="main" data-controller="page" data-action="">

            <h1>
                H1 Heading
            </h1>
            <section>
                <div>
                    <div>
                        <h2>H2 Heading</h2>
                        <p>
                            Vestibulum ante ipsum primis .
                        </p>
                        <h3>
                            H3 Heading
                        </h3>
                        <p>
                            Donec velit neque, auctor sit.
                        </p>
                        <h4>
                            H4 Heading
                        </h4>
                        <p>
                            Vivamus magna justo, lacinia.
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <h2>H2 Heading</h2>
                        <p>
                            Vestibulum ante ipsum primis .
                        </p>
                        <h3>
                            H3 Heading
                        </h3>
                        <p>
                            Donec velit neque, auctor sit.
                        </p>
                        <h4>
                            H4 Heading
                        </h4>
                        <p>
                            Vivamus magna justo, lacinia.
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <h2>H2 Heading</h2>
                        <p>
                            Vestibulum ante ipsum primis .
                        </p>
                        <h3>
                            H3 Heading
                        </h3>
                        <p>
                            Donec velit neque, auctor sit.
                        </p>
                        <h4>
                            H4 Heading
                        </h4>
                        <p>
                            Vivamus magna justo, lacinia.
                        </p>
                    </div>
                </div>
            </section>

        </main>

    {% include "partials/footer.njk" %}

{% endblock %}
