/* Box Model */
$box-sizing  : border-box; // box model

$container   : 1024px;

$rem-base    : 18px;       // Default font size

$font-step   : 0.33333;    // Font size increments = ($rem-base * $font-step)

/* Grid */
$gutter   : 30;
$columns  : 12;
$breakpoint-map : (
    xs  : 'only screen and (min-width: 0px   )',
    sm  : 'only screen and (min-width: 480px )',
    md  : 'only screen and (min-width: 640px )',
    ml  : 'only screen and (min-width: 768px )',
    lg  : 'only screen and (min-width: 960px )',
    xl  : 'only screen and (min-width: 1024px)'
);