@import "site-settings";                        // <-- Edit this file for columns and breakpoints

@import "components/columns-grid-mixin";        // Columns based grid
@import "components/percentage-grid-mixin";     // Percent based grid
@import "components/floatingPoint-grid-mixin";  // Float-point based grid
@import "components/responsive-breakpoints";    // Adds responsive breakpoints




/* - - - - - - - - - - Put XSmall up-to Small Styles Here - - - - - - - - - - */







/* - - - - - - - - - - Responsive Breakpoint Styles Here - - - - - - - - - - */
/* XSmall devices and larger */
@include respond(xs) {

}
/* Small devices and larger */
@include respond(sm) {

}

/* Medium devices and larger */
@include respond(md) {

}

/* Large devices and larger */
@include respond(lg) {

}

/* XLarge devices and larger */
@include respond(xl) {

}